@import('UI.css');

/* calendar Specific */
.layout_21 .calendar {
	padding:15px;
	padding-top: 22px;
	height:42vh;
	overflow-y:hidden;
}

.layout_1 .calendar {	
	padding:15px;
	padding-top: 22px;
	height:100vh;
	overflow-y:hidden;
}

.calendar .fc-scroller {
	overflow-y:hidden!important;
}
/* calendar Specific */


/* layout Specific */
.layout_15,.layout_21,.layout_1 {
	border-radius: 10px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	border: 1px dotted lightgray;
	width: 100%;
}

.layout_1 {
	width: 98%;
	height: 95%;
}

/*mobile layout properties*/
@media only screen and (max-width: 500px) {
	.layout_1 {
		height: 100%;
	}
	.layout_21 {
		width: 98.5%;
		height: 45vh;
	}
}

.layout_15 {
	width: 97%;
	height: 300px;
}

.layout_21 {
	width: 98.5%;
	height: 42vh;
}

.table_layout {
	margin: 2px;
}

.table_title {
	color: gray;
	font-weight: bold;
	font-size: 25px;
	font-weight: bold;
}

.remove_btn {
	border: none;
	border-radius: 10px;
	color: gray;
}

.remove_btn:hover {
	border: 1px dotted gray;
	border-radius: 10px;
	color: gray;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.remove_btn:before {
	content: "\f00d";
	font-family: FontAwesome;
}

.picker_btn {
	border: 3px dotted gray;
	border-radius: 15px;
	color: gray;
}

.picker_btn:before {
	content: "\f0fe";
	font-family: FontAwesome;
	font-size: 35px;
}

/* layout Specific */

/* Tab Panel Plus */

/*Selected Tab*/
.nav-tabs>li>a {
	border: 1px solid #00000014;
}

.tab_panel>.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
	{
	background-color: #d3d3d37a;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
	{
	font-weight: bold;
	background-color: #d3d3d37a;
}

.tab_panel>.nav-tabs>li>a {
	color: black !important;
}

.tab_panel_close>a {
	text-decoration: none;
}

.tab_panel_close:before {
	color: gray;
	content: '\f00d';
	font-family: FontAwesome;
}

.tab_panel_close:hover:before {
	color: black;
	content: '\f00d';
	font-family: FontAwesome;
	font-weight: bolder;
}

.tab_panel_close:hover {
	text-decoration: none !important;
}

.tab_panel_close:active {
	text-decoration: none !important;
}

/* Tab Panel Plus */