*:focus {
	outline: none !important;
}

.side_nav {
	box-shadow: 1px 1px 4px gray;
}

/* top navigation bar */
.menu_btn,.search_btn,.settings_btn {
	border: 1px solid lightgray;
	background-color: transparent;
}

.menu_btn:hover,.search_btn:hover,.settings_btn:hover {
	border: 1px dotted gray;
	color: #333;
	background-color: #e6e6e6;
}

.menu_btn:focus,.search_btn:focus,.settings_btn:focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.settings_btn {
	height: 34px;
	border: none;
}

.menu_btn {
	font-size: 25px;
	border: none;
}

.search_btn {
	font-weight: bold;
	height: 34px;
}

.settings_btn:before {
	content: "\f013";
	font-family: 'FontAwesome'
}

.settings_group_btn>.open>.dropdown-menu {
	position: relative;
	left: auto !important;
	right: -2px !important;
	top: 38px !important;
	padding: 1px;
}

.settings_group_btn>.open>.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus
	{
	border-bottom: 1px dotted lightgray;
	border-top: 1px dotted lightgray;
}

.header {
	border-bottom: 1px solid lightgray;
	box-shadow: 1px 1px 10px gray;
	width: 100%;
}

.search_box {
	width: 170px;
	font-weight: bold;
}

.search_box>input[type=text]:focus {
	box-shadow: 1px 0px 3px 0px gray;
	border: 1px dotted gray;
}
/* top navigation bar */